@use "../../style/global" as *;
@use "../../style/mixins" as *;
@use "../../style/variables" as *;

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.about-container {
    display: flex;
    flex-direction: column;
}

.about-card {
    @include card;
    margin: 5rem 2.5rem 2rem 2.5rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    &__header {
        @include mobileH2;
        padding-bottom: 0.5rem;
    }

    &__subhead {
        @include mobileH3;
        padding-bottom: 0.5rem;
    }

    &__avatar {
        height: 250px;
        position: relative;
        left: 30%;

        @include tablet {
            left: 50%;
        }

        @include desktop {
            left: 70%;
        }
    }
}

.vearthy {
    font-weight: bold;
    text-decoration: underline;
    color: $primary;

    &:hover {
        color: $secondary;
    }
}

.card-button {
    padding-top: 0.5rem;
    font-weight: bold;
}
