@use "../../style/global" as *;
@use "../../style/mixins" as *;
@use "../../style/variables" as *;

.tec-container {
    margin: 2rem 0;
    background: linear-gradient(90deg, rgba(28, 41, 44, 1) 0%, rgba(56, 71, 74, 1) 100%);

    &__header {
        margin: 2rem;
        padding-top: 2rem;
        color: $white;
        @include mobileH3;
    }

    &__subhead {
        margin: 2rem;
        color: $white;
        @include mobileH1;
    }
}

.tec-card {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;

    &__icon {
        box-shadow: $shadow;
        width: 30%;
        max-width: 170px;
        padding: 1rem;
        margin: 1rem;
        border-radius: $cardRadius;

        &:hover {
            box-shadow: $shadow;
        }
    }
}
